{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}
    <h4 class="text-center my-3">
        User Change Password
    </h4>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}" id="alertmessage">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-body">
                    <form action="/user/change_password" method="POST">
                        <div class="my-2">
                            <label for=""><b>Enter Your Username</b></label>
                            <input type="text" name="username" id="username" class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your Old Password</b></label>
                            <input type="password" name="old_password" id="old_password" class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your New Password</b></label>
                            <input type="password" name="new_password" id="new_password" class="form-control my-1">
                        </div>
                        <button class="btn btn-success">Change Password</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#all_classes').change(function(){

          $.getJSON('/_update_dropdown', {
            selected_class: $('#all_classes').val()

          }).success(function(data) {
                $('#all_entries').html(data.html_string_selected);
           })
        });
        $('#process_input').bind('click', function() {

            $.getJSON('/_process_data', {
                selected_class: $('#all_classes').val(),
                selected_entry: $('#all_entries').val(),


            }).success(function(data) {
                $('#processed_results').text(data.random_text);
            })
          return false;

        });
      });
    </script>
{% endblock content %}
