{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% include 'user/navbar.html' %}
    <div class="container">
        <div class="my-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>Id</th> -->
                            <th>Show Name</th>
                            <th>Venue Name</th>
                            <th>Ticket Price</th>
                            <th>Quantity</th>
                            <!-- <th>Edu</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                        <tr>
                            <td>{{ticket.showname}}</td>
                            <td>{{ticket.venuename}}</td>
                            <td>{{ticket.ticketprice}}</td>
                            <td>{{ticket.ticketqty}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
