<div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/user/dashboard" class="btn btn-info w-full">Dashboard</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="gotoaddticketpage" class="btn btn-info w-full">Add Ticket</a>

        <!-- <form action="/user/addTicket/" method="GET">
            <input type="submit" value="Add Ticket" name="action1" class=" btn btn-info w-full"/>
        </form> -->
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/user/change-password" class="btn btn-info w-full">Change Password</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <form action="/logout/" method="POST">
        <input type="submit" value="Logout" name="action1" class=" btn btn-danger w-full"/>
        </form>
        <!-- <form type="submit" action="" method="POST"><a href="/logout/" class="btn btn-danger w-full">Logout</a></form> -->
    </div>
</div>
